<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ flatpage.title}}</title>
    <center>
        <h1>{{ flatpage.title }}</h1>
        <h3>{{ flatpage.content }}</h3>
    </center>
</head>
<body>
<FONT FACE = "Comic Sans MS">
<div align="left"><i>Tech support:</i>
    <br>+10 66252847528
    <br>+42 629602445787
    <br>+3 563364849545
    <br>+94 485934436599</div>
<div align="center"><i>Emails:</i>
    <br>dfgh82@jelly.but
    <br>pseiebv@jelly.but
    <br>Игорь@jelly.but</div>
<div align="right"><i>Other ways to contact us:</i>
    <br>sending letters by pigeons or owls</div>
</FONT>
</body>
</html>
